.header {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    font-size: 14px;
    padding: 30px 5px;
    position: absolute;
    left: 0;
    right: 0;
    color: $color-dark-background;

    .label {
        display: none;
        width: 30px;
        height: 30px;
        transform: translateY(25%);
        transition: 0.3s ease transform;
        cursor: pointer;

        span {
            display: block;
            width: 6px;
            height: 6px;
            background-color: $color-dark-background;
            margin-left: 0;
            margin-bottom: 6px;
            border-radius: 4px;
            transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom, 0.3s ease background-color;

            &:first-child {
                width: 30px;
            }

            &:nth-child(2) {
                width: 15px;
            }

            &:last-child {
                width: 5px;
                margin-bottom: 0;
            }
        }
    }

    .logo {
        font-size: 18px;
        fill: rgb(12, 10, 10);
        pointer-events: none;
    }

    .button {
        @extend %btn;
    }

    .nav {
        li {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

        }

        display: flex;
        padding-left: 0;

    }

    a {
        color: $color-dark-background;

        &:hover {
            font-weight: bold;
        }
    }
}

#menu_checkbox:checked+label {
    transform: translateY(-10%) rotateZ(-90deg);
}

#menu_checkbox:checked+label span {
    width: 6px;
    margin-left: 12px;
    margin-bottom: 3px;
    opacity: 1;
}

#menu_checkbox {
    display: none;
}