.background {
    background-image: url("../img/Rectangle.jpg");
    background-size: cover;
    color: $color-dark-background;
}

.one-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);

    .button {
        @extend %btn;
    }

    p {
        max-width: 540px;
    }

    :nth-child(n) {
        margin-bottom: 40px;

    }
}

.start {
    margin: 45px 0;
    padding: 40px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    text-align: center;

    .article-one,
    .article-two,
    .article-three {
        top: 95%;
        left: 50%;
        box-shadow: 0px 5px 30px 0px #0000001A;
        border-radius: 8px;
        transform: translate(-50%, -50%);
        padding-bottom: 30px;
        min-height: 198px;
        max-height: 350px;
        overflow: auto;
        max-width: 84%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        background: $color-dark-background;

        h3 {
            margin: 19% 8% 13% 8%;

        }

        p {
            font-size: 12px;
            margin: 0 17% 15% 17%;
        }
    }


    .img-one {
        background-image: url("../img/Bg1.jpg");
    }

    .img-two {
        background-image: url("../img/Bg2.jpg");
    }

    .img-three {
        background-image: url("../img/Bg3.jpg");
    }

    .saze {
        max-width: 350px;
        max-height: 250px;
        background-size: cover;
        margin: 15px;
        border-radius: 8px;
    }

}

.technology {
    position: relative;
    margin-bottom: 20px;
    width: 25%;

    :first-child {
        padding-bottom: 50px;
    }

    .technology-bg {
        width: 60%;
    }

    .technology-svg {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .cloud {
        width: 100px;

    }

    .shield {
        width: 90px;

    }

    .pdf {
        width: 90px;

    }

    .svg {
        width: 60px;

    }

    p {
        font-size: 12px;
    }
}